<center>
  <div class="regulamin">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span4">
          <div class="image">
            <%= image_tag 'regulamin.png' %>
          </div>
        </div>
        <div class="span8">
          <div class="content">
            <div class="header_line"></div>
            <div class="head">
              <%= get_regulation_title %>
            </div>
            <div class="header_line"></div>
            <div class="text">
              <%= get_regulation_description %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</center>
