<% provide(:title, t("pages.main_page")) %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2 offset1">
      <%= render "main/left_column" %>
    </div>
    <div class="span6 offset1">
      <%= render "main/right_column" %>
    </div>
  </div>
</div>

