<% for company in @companies %>
  <%= link_to(root_path) do %>
    <div class="left_link_main">
      <%= company_name(company) %>
    </div>   
  <% end %>

  <% for model in company.models %>
    <%= link_to(root_path) do %>
      <div class="left_link_second">
        <%= model.name %>
      </div>
    <% end %>
  <% end %>

<% end %>

