<% provide(:title, t("pages.offert_page")) %>

<div class="offert">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2 offset1">
        <%= render "offert/left_column" %>
      </div>
      <div class="span6 offset1">
        <%= render "offert/right_column" %>
      </div>
    </div>
  </div>
</div>
