<% provide(:title, t("pages.admin_options.all_companies")) %>

<table>
  <tr><%= t("name") %></tr>
  <% for company in @companies %>
    <tr>
      <td><%= company.name %></td>
      <td><%= link_to t("edit"), edit_company_path(company) %></td>
      <td><%= link_to t("delete"), company, confirm: t("confirmation"), method: :delete %></td>
    </tr>
  <% end %>

</table>
