$header: linear-gradient(to left, black 50%);
$hover: url('hover.png') repeat-x scroll 0 0 transparent;
$black: rgba(16,16,16,0.95);

@mixin buttons {
  color: white;
  background: $hover;
  text-decoration: none;
}

div.header{
  background-image: url('background_color.jpg');
	background: $header;
	font-size: 15px;
	height: 30px;
	text-align: center;
  border-style: linear-gradient(to left, $black, white, $black);
  border-width: 1px;

  span {
    @include buttons
  }
}

.item{
  display: inline-block;
  padding: 5px 2px;
	float: center;
  color: white;
  text-decoration: none;
}

.item:hover {
  @include buttons
}

a {
  padding: 5px 1px;
  color: white;
  text-decoration: none;
}

a:hover {
  @include buttons
}

.header_line {
  height: 1px;
  background: linear-gradient(to right, black 5%, white 50%, black 95%);
}
