$background: url('background_color.jpg') repeat;

html {
	/*background: radial-gradient(circle, $background1, $background2);*/
  background: $background;
  color: white;
  font-family:Arial,Verdana;
}

body {
	/*background: radial-gradient(circle, $background1, $background2);*/
  background: $background;
  color: white;
  font-family:Arial,Verdana;
}

.title {
  text-align: center; 
  color: #616271;
}

.nationalization {
  text-align: right;
}

#top_image {
  text-align: center;
}

.center {
  text-align: center;
}
