$background: url('background_color.jpg') repeat;

html {
	/*background: radial-gradient(circle, $background1, $background2);*/
  background: $background;
  color: white;
  font-family:Arial,Verdana;
}

body {
	/*background: radial-gradient(circle, $background1, $background2);*/
  background: $background;
  color: white;
  font-family:Arial,Verdana;
}

.title {
  text-align: center; 
  color: #616271;
}

.nationalization {
  text-align: right;
}

#top_image {
  text-align: center;
}

$bg_color: #161515;
$txt_color: #504848;

.center {
  text-align: center;
}

.main {
  background: black;
  float: center;
  text-decoration: none;
  width: 800px;
  display: in-line;


  a {
    background: black;
    text-decoration: none;
  }

  .element {
    background: $bg_color;
    color: $txt_color;

    .image {
      border-style: solid;
      border-color: black;
      border-bottom-width: 3px;
    }

    .text {
      padding: 3px;
      font-size: 20px;
    }

    &:hover {
      color: white;
      font-weight: bold;
    }

  }
  .regulamin{
    margin: 20px;
    .header {
      font-size: 28px;
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: bold;
    }
    .text {
      margin-top: 20px;
      text-align: left;
    }
  }

}

