// Place all the styles related to the offert controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@mixin links {
    height: 30px;
    width: 260px;
    text-decoration: none;
    padding-top: 5px;
    text-align: left;
    color: white;

    &:hover {
      font-weight: bold;
    }
}


.offert {
  width: 830px;
  background: black;

  a {
    text-decoration: none;
  }

  .left_link_main {
    @include links;
    padding-left: 25px;
    background: url("button.png") no-repeat transparent;
    color: white;
    font-size: 15px;
  }

  .left_link_second {
    @include links;
    padding-left: 30px;
    background: black;
    color: white;
    font-size: 13px;


  }



}
