// Place all the styles related to the offert controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@mixin butt {
    padding: 0px;
    margin: 0px;
    font-size: 11px;
    padding-left: 40px;
    height: 30px;
    width: 260px; 
    border-width: 0px;
    text-align: left;
    color: white;

    &:hover{
      font-weight: bold;
    }
}

.offert {
  width: 800px;
  background: black;

  .button {
    @include butt;
    background: url('button.png') no-repeat transparent;
  }

  .button14 {
    @include butt;
    background: url('button14.png') no-repeat transparent;
  }

  .button3 {
    @include butt;
    background: url('button3.png') no-repeat transparent;
  }
  .button4 {
    @include butt;
    background: url('button4.png') no-repeat transparent;
  }
  .button5 {
    @include butt;
    background: url('button5.png') no-repeat transparent;
  }
  .button6 {
    @include butt;
    background: url('button6.png') no-repeat transparent;
  }
  .button7 {
    @include butt;
    background: url('button7.png') no-repeat transparent;
  }
  .button8 {
    @include butt;
    background: url('button8.png') no-repeat transparent;
  }
  .button9 {
    @include butt;
    background: url('button9.png') no-repeat transparent;
  }
  
  .button10 {
    @include butt;
    background: url('button10.png') no-repeat transparent;
  }

  .button11 {
    @include butt;
    background: url('button11.png') no-repeat transparent;
  }

  .button12 {
    @include butt;
    background: url('button12.png') no-repeat transparent;
  }

  .button13 {
    @include butt;
    background: url('button13.png') no-repeat transparent;
  }

  .button15 {
    @include butt;
    background: url('button14.png') no-repeat transparent;
  }
}
