



.order {

  .top {
    border-width: 1px;
    border-style: solid;
    border-color: white;
    padding: 15px;
  }


  .order_item {
    overflow: hidden;
    position: relative; 
    margin-top: 20px;
    margin-bottom: 20px;

    .image {
      float: left;
      width: 100px;
      vertical-align: bottom; 
    }

    .right {
      margin-left: 10px;
    }

  }


}
