$txt_color: #616271;

.product {
  width: 500px;
  padding: 5px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  
  .image {
    float: left;
    width: 150px;
    vertical-align: bottom; 
  }

  .right {
    float: right;
    width: 340px;
  }

  .title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
  }

  .description {
    color: gray;
    font-size: 12px;
  }

  .button1 {
    height: 30px;
    width: 100px;
    color: white;
    background: url('hover2.png') repeat-x transparent;
    border-width: 0px;
    border-style: none;

    &:hover {
      font-weight: bold;
    }
  }
}

.horizontal-line{
  border-bottom: 1px solid $txt_color;
}
