$color: white;

table {
	border-color: $color;
	border-width: 1px;
}

tr {
	width: 100px;
	border-width: 1px;
  font-size: 13px;
}

table,tr,th,td {
	border: 1px solid $color;
}

th {
	font-size: 15px;
	color: $color;
	font-weight: bold;
  text-align: center;
}

.space_table{
  height: 20px;
}
