<% provide(:title, t("provide.show", item: t("model.category"))) %>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <%= link_to t("edit"), edit_category_path(@category) %> |
  <%= link_to t("delete"), @category, :confirm => t("confirmation"), :method => :delete %> |
  <%= link_to t("index"), categories_path %>
</p>
